@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}



html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik";
    overflow-x: hidden;
    background-color:  #272652;
}

body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #030227;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #8c35c2;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
  }

.maedetodos {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #030227b5;
    background-image: radial-gradient(circle at 62.62% 50%, #433986 0, #272652 50%, #272652 100%);
}

.maedetodos2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #030227b5;
    background-image: radial-gradient(circle at 62.62% 50%, #433986 0, #272652 50%, #272652 100%);
}

.logoFundo{
    position: absolute;
    z-index: 0;
    opacity: 0.05;
}

.nav-lateral {
    display: flex;
    background-color: #030227;
    width: 20%;
    height: 100vh;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    box-shadow: #0000002d 2px 2px 2px 2px;
    position: fixed;
}

.logo {
    display: flex;
    margin-top: 2rem;
}

.container-mae {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.nav-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    margin-left: 4px;
}

.nav-list li {
    display: flex;
    align-items: center;
    width: 94%;
    height: 40px;
    padding-left: 1rem;
}

.maq {
    background-color: #7a00c51a;
    border-right: 5px #7900c5 groove;
    border-left: 5px #7900c5 ridge;

}

.maq svg {
    fill: #8c35c2;
}


.nav-list a {
    display: flex;
    text-decoration: none;
    color: white;
    gap: 1rem;
    width: 100%;
}

.nav-list li:hover {
    cursor: pointer;
    background-color: rgba(122, 0, 197, 0.102);
    border-right: 5px #7900c5 groove;
    border-left: 5px #7900c5 ridge;
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
    animation: animacaoPulsar 300ms;
}

.nav-list li:hover svg {
    fill: #8c35c2;
}




main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-left: 23%;
    margin-right: 3%;
}

.graficos{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #0000002d 2px 2px 2px 2px;
    padding: 2%;

}

.graficos_container_cima {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}

.graficos_container_baixo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}


.containerDash {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #1a00366e;
    border-right: 5px #7900c5 groove;
    border-left: 5px #7900c5 ridge;
    width: 50%;
    height: 45vh;
    margin: 1%;
    box-shadow: #0000002d 2px 2px 2px 2px;
    z-index: 2;
}

.opcoes_escondidas {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.247);
    z-index: 3;
}

.opcoes_escolha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
    bottom: 10%;
    width: 40%;
    height: 80%;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: #0302273f 1px 1px 1px 1px;
    min-width: 40%;
    min-height: 80%;
}

.sair_opcoes {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 98%;
    height: 8%;
    margin: 0.5%;
    background-color: aliceblue;
}

.sair_opcoes i {
    margin-right: 2%;
    cursor: pointer;
}

.opcao_escolha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    height: 8%;
    margin: 0.5%;
    background-color: rgb(183, 183, 183);
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
}

.opcao_escolha:hover {
    background-color: rgb(183, 183, 183, 0.5);
    transition: 300ms;
}

.opcao_escolha h6 {
    opacity: 0;
}

.opcao_escolha h5 {
    margin-left: 2%;
}

.status_maquina_alto_desempenho {
    background-color: green;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin-right: 8%;
    min-width: 16px;
}

.status_maquina_medio_desempenho {
    background-color: yellow;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin-right: 8%;
    min-width: 16px;
}

.status_maquina_baixo_desempenho {
    background-color: red;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin-right: 8%;
    min-width: 16px;
}



.status_maquina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 35%;
}





/* @keyframes animacaoPulsar {
    0% {
        
        background: radial-gradient(circle,  rgba(3, 2, 39, 1) 0%, rgba(122, 0, 197, 0.102) 0%,rgba(122, 0, 197, 1)  100%);
    }

    10% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  10%, rgba(122, 0, 197, 0.102) 20%, rgba(122, 0, 197, 1) 90%);
    }

    20% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  20%, rgba(122, 0, 197, 0.102) 30%, rgba(122, 0, 197, 1)80%);
    }

    30% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  30%, rgba(122, 0, 197, 0.102) 40%, rgba(122, 0, 197, 1) 70%);
    }

    40% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  40%, rgba(122, 0, 197, 0.102) 50%, rgba(122, 0, 197, 1) 60%);
    }

    50% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  50%, rgba(122, 0, 197, 0.102) 60%, rgba(122, 0, 197, 1) 50%);
    }

    60% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  60%, rgba(122, 0, 197, 0.102) 70%, rgba(122, 0, 197, 1) 40%);
    }

    70% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  70%, rgba(122, 0, 197, 0.102) 80%, rgba(122, 0, 197, 1) 30%);
    }

    80% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  80%, rgba(122, 0, 197, 0.102) 90%, rgba(122, 0, 197, 1) 20%);
    }

    90% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  90%, rgba(122, 0, 197, 0.102) 95%, rgba(122, 0, 197, 1) 10%);
    }

    100% {
        background: radial-gradient(circle, rgba(3, 2, 39, 1)  100%, rgba(122, 0, 197, 0.102) 100%, rgba(122, 0, 197, 1) 0%);
    }
} */

.cabecalho_propriedades{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 8vh;
    margin-top: 3%;
}

.atributo_propriedade_nome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
    background-color: #1a00366e;
    border-right: 5px #7900c5 groove;
    border-left: 5px #7900c5 ridge;
    margin: 1%;
    box-shadow: #0000002d 2px 2px 2px 2px;
    color: white;
}

.atributo_propriedade_dono{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
    background-color: #1a00366e;
    border-right: 5px #7900c5 groove;
    border-left: 5px #7900c5 ridge;
    margin: 1%;
    box-shadow: #0000002d 2px 2px 2px 2px;
    color: white;
}

.atributo_propriedade_status{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
    background-color: #1a00366e;
    border-right: 5px #7900c5 groove;
    border-left: 5px #7900c5 ridge;
    margin: 1%;
    box-shadow: #0000002d 2px 2px 2px 2px;
    color: white;
}


.grafico{
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}


.imgMonitorar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    mix-blend-mode: lighten;
}








.container-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    right: 1;
  }

  .icon {
    position: absolute;
    left: 0;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
  }

  .seta {
    display: flex;
    align-items: flex-start;
    margin-right: 30%;
    margin-bottom: 15%;
    width: 35px;
    height: 0px;
    border: 0.5px solid #908e8e;
    transform: rotate(90deg);
  }

  .tipo_campo {
    font-size: 16px;
    display: flex;
    font-family: 'Inter';
  }

  input {
    margin: 5px 0 15px 0;
    border: 1px solid #000000;
    padding: 1.5vh;
    border-radius: 12px;
    line-height: 0;
    outline-color: #000e78;
    font-family: 'Inter', FontAwesome;
    line-height: 0;
    width: 10vh;
    padding-inline-start: 7vh;
  }
.icon svg{
    margin-bottom: 30%;
}

.formularioCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

section{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-left: 20%;
}

.filhoDaMae{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.topoFormularioCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

.meioFormularioCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.labelselectSo{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.labelselectSo label{
    margin-bottom: 5%;
}


select {
    writing-mode: horizontal-tb !important;
    text-rendering: optimizeSpeed;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    -webkit-rtl-ordering: logical;
    background-color: #7a00c52c;
    cursor: pointer;
    margin: 0em;
    border-width: 3px;
    border-style: solid;
    border-color: #8c35c2;
    border-image: initial;
    border-radius: 5px;
    margin-top: 10%;
    padding: 1%;
}

option{
    background-color: #f1ecf57f;
    color: black;
}
