@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    width: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    background: #02002a;
}

/* Handle */
::-webkit-scrollbar-thumb { 
    background: #3e1cff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0f0064;
}



header {
    background-color: #030227;
    

}

li {
    list-style: none;
}


a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    font-style: italic;
}

.divLogo{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.divLogo a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}




.Logo{
    font-size: 2rem;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;

}

.nav-link{
    transition: 0.5s ease;
}

a:hover{
  color: #93e2ff;
}

.navigation{
    display: none;
}

  .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}


.inicio {
    display: flex;
    height: 70vh;
}

.inicio img {
    width: 100%;
}

.text-inicio {
    color: white;
    width: 100%;
    height: 70vh;
    position: absolute;
    background: #00000082;
}

.text-inicio h1 {
    font-size: 3rem;
    text-align: center;
    margin: 5% 0;
}

.text-inicio span {
    width: 50%;
    margin: 0 27%;
    display: flex;
    text-align: center;
    font-size: 2rem;
}


.container2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    background-image: linear-gradient(to top,#110048, 80%, rgb(3, 0, 19));
}






.information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #141414;
background: linear-gradient(to bottom, #0e003e, #141414);

}


.nav-screen {
    height: 100%;
    z-index: 500;
    position: fixed;
    background-color: #000;
    opacity: 1;
    right: -285px; /* start off behind the scenes */
    -webkit-font-smoothing: antialiased;
    position: fixed;
    width: 285px;
  }
  
  .nav-screen .active {
    display: block;
  }
  
  /* nav header links */
  
  .nav-brand {
    position: fixed;
    left: 0;
    z-index: 600;
    padding: 10px;
  }
  
  .nav-brand img {
    width: 50px;
  }
  
  .fa-bars {
    display: none !important;
    color: #ff6363;
    float: right;
    padding: 20px;
    position: fixed;
    right: 0;
    z-index: 500;
    cursor: pointer;
  }
  
  .fa-times {
    color: #ff6363;
    float: right;
    padding: 20px;
    right: 0;
    z-index: 600;
    cursor: pointer;
  }
  
  .header-links {
    position: fixed;
    width: 100%;
    z-index: 500;
  }
  
  .header-links li {
    color: white;
    display: inline;
    float: right;
    padding: 15px;
    font-size: 16px;
  }
  
  .header-links a {
    color: #FFF;
    -webkit-transition: all 0.2s ease-in;
  }
  
  .header-links a:hover {
    color: #00eeff !important;
  }


  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    min-height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #212121;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    padding-bottom: 5%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    min-height: 100%;
    height: 55vh;
    padding: 5px;
    text-align: center;
    min-height: 100%;
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 32px;
  }
  
  .content .para {
    line-height: 1.5;
  }
  

  
  .card:hover {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border-color: #0974f1;
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }
  



#camel{
    transition: 1s;
}

#camel:hover{
    scale: 1.05;
    transition: 1s;
}



.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #141414;
    padding-top: 10%;
}

.form-container {
    width: 40%;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#1cc2ff, hsl(259, 100%, 63%)) border-box;
    border: 3px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 3%;
  }

  
  .form-container h6{
    font-size: 26px;
    
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 93%;
    padding: 12px 16px;
    border-radius: 8px;
    color: black;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 93%;
    padding: 12px 18px;
    border-radius: 8px;
    resize: none;
    color: black;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #000e78;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #000e78;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    width: 40%;
    background: #02149d;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #030227;
    border-color: #030227;
  }
  
  
  
  



.info_footer svg{
    margin: 5%;
}


/*FOOTER*/

.custom-shape-divider-bottom-1683068753 {

    float: left;
    width: 100%;
    margin-bottom: -2px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683068753 svg {
    
    float: left;    
    display: block;
    width: calc(148% + 1.3px);
    height: 178px;
    background: #ffffff;
    margin-bottom: -2px;


}

.custom-shape-divider-bottom-1683068753 .shape-fill {
    fill: #110048;
}

.main_footer   { background-color: #141414; color:#fff; font-size:1em; }

.main_footer .content-footer { float:left; width:80%; margin:0 10%; padding: 5em 0; }
.container { float:left; width:100%; }
.colfooter { 
 
  width:100%; 
  height:auto; 
  float:left; 
  margin-bottom:2em;
  border-top: 1px solid white;
  transition: 1s;

}



.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#313131; }

.colfooter .titleFooter   { 
  
  font-family: 'Lato', sans-serif; 
  font-size:1.3em; 
  color:#ffffff; 
  padding-bottom: 0.5em; 
  margin-bottom:0.5em; 
  border-bottom:1px #ffffff solid;

}

.colfooter p  { 

  font-family: 'Lato', sans-serif; 
  color:#ffffff; 
  font-size:1em; 
  height:25px; 

} 

.botao{

  padding: 10px 12px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  letter-spacing:2px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  margin-right:7px;
  
}

.botao::before {
  
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098FF;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.2s cubic-bezier(1, 0, 0, 1)
}

.botao:hover::before {
  
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.botao{
    font-size:1em;
    color:#ffffff;
    text-align:center;
    font-family: 'Lato', sans-serif;
    border:1px solid #ffffff;
    border-radius:50px;
    overflow: hidden!important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: transparent!important;
    z-index:10;
    
}

.botao:hover{
    border: 1px solid #262626;
    color: #110048 !important;
}

.botao::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #262626;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

.botao::after {
 
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #e82626;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}

.botao:hover::before, .botao:hover::before{
   
    opacity:1;
    width: 120%;
}

.botao:hover::after, .botao:hover::after{
    opacity:1;
    width: 150%;
}

.main_footer_copy   { background-color: #141414; width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:1.5em 0em; }
.main_footer_copy p { font-size:1em; color:#ffffff; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#313131 }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){

  .colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
  .colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}

}







  



@media only screen and (max-width: 1200px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');













.container2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    background-image: linear-gradient(to top,#110048, 80%, rgb(3, 0, 19));
}






.information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    

}

.information img {
    width: 20%;
}





#camel{
    transition: 1s;
}

#camel:hover{
    scale: 1.05;
    transition: 1s;
}







}
@media only screen and (max-width: 992px) {

    
  







.information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #141414;
    background: linear-gradient(to bottom, #0b0033 10%, #141414);

}

.information img {
    width: 20%;
}







.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #212121;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .content{
        height: 25vh;
        padding-top: 8%;
        padding-left: 5%;
        padding-right: 5%;
  }


  .form-container {
    width: 80%;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#1cc2ff, hsl(259, 100%, 63%)) border-box;
    border: 3px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 3%;
  }


}


@media (max-width: 768px) {
   

.inicio {
    display: flex;
    height: 50vh;
}

.inicio img {
    width: 100%;
}

.text-inicio {
    color: white;
    width: 100%;
    height: 50vh;
    position: absolute;
    background: #00000082;
}

.text-inicio h1 {
    font-size: 3rem;
    text-align: center;
    margin: 5% 0;
}

.text-inicio span {
    width: 50%;
    margin: 0 27%;
    display: flex;
    text-align: center;
    font-size: 1rem;
}


.container2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    background-image: linear-gradient(to top,#110048, 80%, rgb(3, 0, 19));
}

.form-container .form-group input {
    width: 92%;
    padding: 12px 16px;
    border-radius: 8px;
    color: black;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }


.form-container .form-group textarea {
        width: 92%;
        padding: 12px 16px;

      }
   


}


@media (max-width: 550px) {

 

.text-inicio {
    color: white;
    width: 100%;
    height: 50%;
    position: absolute;
    background: #00000082;
    backdrop-filter: blur(1px);
}

.text-inicio h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10%;
}

.text-inicio span {
    width: 50%;
    margin: 0 27%;
    display: flex;
    text-align: center;
    font-size: 1rem;
}


.container2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    background-image: linear-gradient(to top,#110048, 80%, rgb(3, 0, 19));
}


.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-height: 70%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #212121;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .content{
        height: 50vh;
        padding-top: 8%;
        padding-left: 5%;
        padding-right: 5%;
  }
  
  .form-container .form-group input {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    color: black;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }


  .form-container .form-group textarea {
    width: 90%;
    padding: 12px 16px;

  }



}


@media (max-width: 540px) {
    .information{
        background-color: #141414;
        background: linear-gradient(to bottom, #09002c, #141414);
    }

    
}