@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background-image: url(https://wallpaperaccess.com/full/210912.jpg);
  backdrop-filter: blur(4px);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  background: #02002a;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e1cff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f0064;
}


li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    font-style: italic;
}

.divLogo{
    padding: 5px;
    width: 100px;
    height: 8vh;  
  
}

.divLogo a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}


.Logo img{
    width: 100%;
    height: 100%;
}

.Logo{
    font-size: 2rem;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;

}

.nav-link{
    transition: 0.5s ease;
}

a:hover{
  color: #93e2ff;
}

.navigation{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}

main{
    display: flex;
    align-items: center;
    justify-content:  center;
    margin-top: 5%;
    width: 100%;
}

.bem-vindo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    width: 30%;
    max-width: 400px;
    height: auto;
    color: white;
    margin-right: 4.5%;
}

.bem-vindo h1{
    width: 90%;
    margin-top: 11%;
    font-size: 2rem;
    text-align: center;
}
.bem-vindo p{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 60px;
    width: 350px; 
}
.container {
  background-color: rgba(245, 245, 245, 0.693);
  padding: 6px;
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: .3s;
  box-shadow: rgba(46, 124, 240, 0.4) 5px 5px, rgba(46, 124, 240, 0.3) 10px 10px, rgba(46, 124, 240, 0.2) 15px 15px, rgba(46, 124, 240, 0.1) 20px 20px, rgba(46, 124, 240, 0.05) 25px 25px;
  margin-bottom: 5%;
  margin-left: 4.5%;
  transition: 500ms;
  min-width: 500px;
}

form {
  position: absolute;
  margin-top: 25%;
  transition: .5s;
  width: 85%;
  height: auto;
}




.cabecalhoLogin{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Inter';
  margin-bottom: 10%;
}


.container-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  right: 1;
}

.icon {
  position: absolute;
  left: 0;
  margin-left: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

}

.seta {
  display: flex;
  align-items: flex-start;
  margin-right: 30%;
  margin-bottom: 10%;
  width: 28px;
  height: 0px;
  border: 0.5px solid #908e8e;
  transform: rotate(90deg);
}

.prosseguir{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: #c6c6c6;
  border-radius: 10px;
  padding: 3px;
  padding-left: 7px;
  margin-top: 5%;
  margin-left: 9%;
}

.prosseguir h6{
  font-size: 13px;
  font-family: 'Inter';
  margin: 0;
  margin-bottom: 5%;
}

.prosseguir svg{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  cursor: pointer;
}

.formulario .tipo_campo {
  font-size: 16px;
  display: flex;
  font-family: 'Inter';
}

.formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5vh;
  perspective: 1000px;
}



.formulario b{
  color: #3e1cff;
  cursor: pointer;
}

.formulario b:hover{
  text-decoration: underline;
}

.formulario h6{
  margin-top: 8%;
}

.brilhoContainer{
  box-shadow: rgba(46, 124, 240, 0.7) 5px 5px, rgba(46, 124, 240, 0.6) 10px 10px, rgba(46, 124, 240, 0.4) 15px 15px, rgba(46, 124, 240, 0.3) 20px 20px, rgba(46, 124, 240, 0.2) 25px 25px;
  transition: 500ms;
}


	/* feito com o hover */
	

.flip-container, .front, .middle {
	width: 320px;
	height: 480px;
}

/* velocidade da animação */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* esconder parte de trás do painel durante a troca */
.front, .middle {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* coloca o painel frontal acima */
.front {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.rotacao{
  transform: rotateY(180deg);

}

/* painel de volta, inicialmente escondido */
.middle {
  display: flex;
  justify-content: center;
	transform: rotateY(180deg);
}

.formulario input {
  margin: 5px 0 15px 0;
  border: 1px solid #000000;
  padding: 1.5vh;
  border-radius: 12px;
  line-height: 0;
  outline-color: #000e78;
  font-family: 'Inter', FontAwesome;
  line-height: 0;
  width: 43vh;
  padding-inline-start: 10vh;
}



button[type="submit"] {
  background: #000e78;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 12%;
  cursor: pointer;
  box-shadow: #02002a65 1.5px 1.5px 1.5px 1.5px;
}



.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000e78;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000e78, #fff);
  padding: 0;
  margin-top: 8%;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 0.6rem 0.9rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}



@media (max-width: 768px) {
  .navigation {
    display: block;
  }
  .navigation.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navigation.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navigation.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 52px;
    gap: 0;
    border-radius: 5px;
    background: #05002f59;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;

  }

  .nav-item {
    margin: 10px 0;
  }

  

  .nav-menu.active {
    left: 0;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 95%; /* Alterei para 100% para ocupar a largura total da tela */
  }

  .container {
    width: 90%;
    height: 100%;
    padding: 0;
    margin-bottom: 5%;
    transition: .3s;
    margin-left: 0;
    min-width: 400px;
  }

  .container input {
    width: 90%; 
  }
 

  form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
    transition: .5s;
    width: 85%;
    height: auto;
  }


  .formulario input {
    margin: 5px 0 15px 0;
    border: 1px solid #000000;
    padding: 1.5vh;
    border-radius: 12px;
    line-height: 0;
    outline-color: #000e78;
    font-family: 'Inter', FontAwesome;
    line-height: 0;
    width: 38vh;
    padding-inline-start: 10vh;
  }


  button[type="submit"] {
    text-align: center;
    font-size: 14px;
    padding: 10px; 
    margin: 5px 0 0 0; 
    width: 39vh; 
    margin-top: 30%;
  }

  
.login-cadastro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 12%;
  margin-bottom: 5%;
  position: relative;
  border-radius: 30px;
  padding: 0.5%;
}

  #button-login-entrar{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .bem-vindo {
    width: 70%; /* Alterei para ocupar a largura total da tela */
    height: 20%; /* Alterei para altura automática para se adaptar ao conteúdo */
    color: white;
    text-align: center; /* Centralizei o texto */
    padding: 1%;
    margin-bottom: 7%;
    margin-right: 0;
  }

  .bem-vindo h1 {
    width: 100%; /* Alterei para ocupar a largura total da tela */
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
  }

  
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000e78;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000e78, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 0.5rem 7rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}


  
}

@media (max-width: 610px){
  .container {
    width: 90%;
    height: 100%;
    padding: 0;
    margin-bottom: 5%;
    transition: .3s;
    margin-left: 0;
    min-width: 525px;
    min-height: 650px;
  }

  .cabecalhoLogin{
    margin-bottom: 20%;
  }

  .formulario input {
    margin: 5px 0 15px 0;
    border: 1px solid #000000;
    padding: 1.5vh;
    border-radius: 12px;
    line-height: 0;
    outline-color: #000e78;
    font-family: 'Inter', FontAwesome;
    line-height: 0;
    width: 38vh;
    padding-inline-start: 10vh;
  }
}